@import url("https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #fff;
}

.menu-bar {
    height: 14vh;
    width: 100%;
    background-color: #1DB954;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {

    font-size: xxx-large;
    margin-right: 0%;

}

.search-box {

    display: flex;
    justify-content: center;
    align-items: center;

}

.search {

    margin-top: 75px;
    border: 0;
    position: relative;
    z-index: 1;
    height: 40px;
    border-radius: 25px;
    width: 300px;
    outline: 0;
    margin-bottom: 50px;


}

input {

    text-align: center;

}

.introText {

    margin-top: 100px;
    text-align: center;

}

.content {

    text-align: center;

}

.results {

    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */


}

.box {

    display: flex;
    margin-top: 50px;
    border-style: solid;
    padding: 25px


}

.songInfo {

    align-content: center;
    margin-left: 50px;


}

img.resize {
    width:50%; /* you can use % */
    height: auto;
}


